TOKEN=
GUILD_ID=
STORE_NAME=
ADMIN_ROLE_ID=
TICKET_CATEGORY_ID=
LOG_CHANNEL_ID=
TRANSCRIPT_CHANNEL_ID=
BACKUP_CHANNEL_ID=
ERROR_LOG_CHANNEL_ID=
VILOG_CHANNEL_ID=
VILOG_CATALOG_CHANNEL_ID=1493576431718895677
MIDMAN_CHANNEL_ID=
ROBUX_CATALOG_CHANNEL_ID=
ML_CATALOG_CHANNEL_ID=
LAINNYA_AUTOREPLY_CHANNEL_ID=1508564472141447389
SELFROLES_CHANNEL_ID=
DANA_NUMBER=
BCA_NUMBER=
AI_CHANNEL_ID=
TESTIMONI_CHANNEL_ID=
REVIEWER_BADGE_ROLE_ID=
REVIEWER_BADGE_THRESHOLD=3
WARRANTY_CHANNEL_ID=
DAILY_REPORT_CHANNEL_ID=1476351037412610048
CELLYN_TEAM_ROLE_ID=
GROQ_API_KEY_1=
GROQ_API_KEY_2=
GROQ_API_KEY_3=
GROQ_API_KEY_4=
GROQ_API_KEY_5=
RELAY_SOURCE_CHANNEL_ID=
RELAY_WEBHOOK_URL=
RELAY_INCLUDE_BOT=1
RELAY_ALLOW_MENTIONS=0
